@import "~@/assets/less/variable.less";

.index-wrap {
  width: 100%;
}
.wrapper {
  display: flex;
}
@media(max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}
@media(min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 40px auto;
  }
}